################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inheritance/bin/Debug
/Inheritance/obj/Debug
/.vs/Inheritance/v15/Server/sqlite3
